.navbar-fixed-top{
    height: 100px;
    background-color: #000000;
}
.navigator{
    padding-top: 20px;
}

.navigator li a{
    font-size: 1.2em;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffffff!important;
}
.navigator ul>li {

}

ul>li:hover{
    background-color: green;
}
.pro{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.8em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 700;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.CNC{
    text-transform: uppercase;
    color: green;
    font-weight: 700;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 1.8em;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.star{
    background-image: url("img/cnc_wall.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    margin:0; /*add this*/
}
.headDesc{
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: darkslategrey;
    opacity: 0.95;
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:450px;
}
.header{
    position: relative;
}
.pro2{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 3em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 700;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.CNC2{
    text-transform: uppercase;
    color: darkgreen;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 700;
    font-size: 3em;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.underDesc{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffffff;
    font-size: 1.2em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.underDesc2{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.offerta{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: black;
}
#oferta{
    padding: 10px;
}
.offer{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-bottom: 50px;
}
hr.style-one {
    border: 1px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 540px !important;
}

hr.style-two {
    border: 1px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 140px !important;
}
.aboutUs {
    background-color: green;
    padding-bottom: 50px;
}

.onas{
    color: #ffffff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 20px;
}


hr.style-three {
    border: 1px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 255), rgba(255, 255, 255, 55), rgba(255, 255, 255, 255));
    width: 600px !important;

}
.maszyNy{
    background-color: pink;
}
.realizacje{

    background-color: green;
}
.realHead
{
    color: #ffffff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 20px;
}


.formulaRZ{
    padding-top: 20px;

}
.form{
    color: black;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
}
hr.style-four {
    border: 1px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(211,211,211,211), rgba(0, 0, 0, 0));
    width: 900px !important;

}
hr.style-five {
    border: 1px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(211,211,211,211), rgba(0, 0, 0, 0));
    width: 500px !important;

}
.kontaKT1{

    background-color: black;
    color: #ffffff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.kontaktHead{
    font-size: 1.5em;
    padding-bottom: 20px;
    padding-top: 20px;
}
.kontaKT2{

    background-color: #0d261a;
    color: #ffffff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 10px;
    font-size: 12px;
}
input{
    width: 500px !important;
    border: none !important;
}
textarea{
    width: 500px !important;
    border: none !important;
    max-height: 100px;
}


.center {
    text-align:center;
}
.form form {
    display:inline-block;
    padding-bottom: 20px;
}
.btn-info{
    background-color: green;
    border: 1px #ffffff;
}
.btn-info:focus{
    background-color: black;
}
.btn-info:hover {
    background-color: #ffffff;
    color: green;
    border: 3px green solid;
}
.btn-info:checked{
    background-color: black;
}
.btn-info:checked{
    background-color: black;
}
i:hover{
    color: green;
}


#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:#eee;
}
#myCarousel .nav a {
    border-radius:0;
}
.karuzela{

    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.karuzela p{
    padding: 0 !important;
}
.kuzelHead {
    color: black;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 40px;
}
.nav .nav-pills:focus{
    background-color: deeppink !important;
}
.nav-pills small{
    color: #ffffff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
.nav-pills a:visited{
    background-color: green !important;
    color: #ffffff;
}
.nav-pills{
    background-color: darkgreen !important;
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.sliders{
    color: #ffffff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
    right: -12px;
}
/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
    background: green;
}

ul.thumbnails.image_picker_selector {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
ul.thumbnails.image_picker_selector li.group_title {
    float: none; }
ul.thumbnails.image_picker_selector li {
    margin: 0px 12px 12px 0px;
    float: left; }
ul.thumbnails.image_picker_selector li .thumbnail {
    padding: 6px;
    border: 1px solid #dddddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
ul.thumbnails.image_picker_selector li .thumbnail img {
    -webkit-user-drag: none; }
ul.thumbnails.image_picker_selector li .thumbnail.selected {
    background: darkgreen; }


